.us-main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(204, 252, 255);
    padding-bottom: 50px;
}
.us-titulo-container{
    margin: 0;
}
.us-titulo{
    font-family: 'Nunito', sans-serif;
    /* font-weight: bold; */
    font-weight: 800;
    font-size: 3rem;
    color: rgb(41 41 41);
    padding: 0;
    margin: 50px 0px 50px 0px;
    text-shadow: 2px 2px 0px rgb(0, 221, 255);
}
.us-mv-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    /* padding: 0px 0px 0px 100px; */
}
.us-container{
    background-color: #ffffff;
    color: rgb(0 0 0);
    width: 45%;
    height: 45vh;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 0px 25px 0px 25px;
    border-radius: 5px;
}

.us-icono-container {
    display: flex;
    width: 72px;
    height: auto;
    flex-direction: column;
    align-items: center;
    margin: 0px 0px 0px 20px;
    flex-wrap: nowrap;
    justify-content: space-around;
    background-color: white;
    border-radius: 20px;
}
.us-vision-icono-container{
    display: flex;
    width: 72px;
    height: auto;
    flex-direction: column;
    align-items: center;
    margin: 0px 0px 0px 20px;
    flex-wrap: nowrap;
    justify-content: space-around;
    background-color: white;
    border-radius: 20px;
}
.us-icono{
    display: flex;
    width: inherit;
    /* height: 50%; */
    height: inherit;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
    flex-wrap: nowrap;
    border-radius: 0px;
}
.us-texto-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.us-ticono-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.us{
    font-size: 2.5rem;
    margin: 20px 0px 20px 0px;
    text-shadow: 1px 1px 0px rgb(0, 221, 255);
}
.us-p{
    text-wrap: wrap;
    /* text-align: center; */
    font-size: 1.8rem;
    padding: 40px 40px 0px 50px;
    margin: 0;
    line-height: 1.5;
}


.usfund-main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}
.usfund-container {
    background-color: rgb(33 81 159);
    color: rgb(255 255 255);
    width: auto;
    height: 50vh;
    display: flex;
    flex-direction: row;
    margin: 0px 50px 50px 50px;
    border-radius: 10px;
    align-items: center;
}
.usfund-icono {
    display: flex;
    width: auto;
    height: inherit;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px 0px 0px;
    flex-wrap: nowrap;
    border-radius: 10px;
}
.usfund-p{
    text-wrap: balance;
    /* text-align: center; */
    font-size: 1.5rem;
    padding: 0px 40px 0px 50px;
    margin: 0;
    line-height: 1.7;
}
